.carrusel-img{
    height: 700px;
    position: absolute;

    .banner1{
        height: 700px;
        object-fit: cover;
    }
    .banner2{
        height: 700px;
        
        object-fit: cover;
    
    }
    .banner3{
        height: 700px;
        object-fit: cover;
    }
}

.banner4{
    width: 1100px;
    height: 350px;
    margin: auto;
    margin-bottom: 50px;
    background-color: black;
    box-shadow: 10px 1px 30px rgba(4, 4, 4, 0.4);
    transition: 2s;

    &:hover{
        transform: translateY(-10%);
    }

    img{
        width: 100%;
        height: 100%;
        transition: 1s;
        cursor: pointer;
        
    }
    
    
}
