@import "../variables";
@import "../sass2/extend";




header{
    
    @extend .navegador;

    .encabezado{
        display: flex;
        align-items: center;

        .logotipo{
            width: 105px;
            height: 90px;
            padding-left: 100px;
            }
            .nombre-empresa{
                font-size: 30px ;
                font-family: $font3;
                padding-top: 15px;
                color: $color4;
                
            }
    }


    
    nav{
        align-items: $alinear;
        margin-right: 200px;

        ul{
            list-style: none;
            display: flex;
            margin-top: 20px;
        }

        a{
        margin: 25px;
        color: $color4;
        font-family: $font1;
        font-size: 16px;
        text-decoration: none;
        position: relative;

        &::after{
        content:"";
        width: 0;
        height: 2px;
        background-color: $color2;
        position: absolute;
        bottom: -8px;
        right: 50%;
        transition: all 0.4s ease;
        will-change: width;
        }
        &:hover::after{
            width: $ancho;
            right: 0;

        }

        &:hover{
            color: $color2;
        }
        }

        
    }

    .icono{
        margin-right: 40px;
        align-items: $alinear;

        i{
            color: $color4;
            font-size: 20px;
            margin: 20px;

            &:hover{
                color: $color2;
            }
        }
        
    }

    
#btn-menu{
    display: none;

}
.boton-menu{
    display: none;
    font-size: 25px;
    color: $color4;
    margin-right: 10px;
    cursor: pointer;
    

    &:hover{
    color: $color2;
    }
    
}
}






@media (max-width:375px) {

    
header{
    width: 375px;

    .encabezado{
        display: flex;
        align-items: center;

        .logotipo{
            width: 100px;
            height: 80px;
            margin-left: -60px;
            }
            .nombre-empresa{
                font-size: 20px ;
                font-family: $font3;
                padding-top: 15px;
                color: $color4;
                
                
                
            }
    }


    
    .menu{
        align-items: $alinear;
        position: absolute;
        margin-top: 50px;
        font-size: 30px;

        ul{
            position: absolute;
            list-style: none;
            display: flex;
            flex-direction: column;
            background-color: black;
            width: 375px;
            transition: all 0.5s;
            padding-bottom: 15px;
            padding-right: 50px;

            li{

                transition: all 0.5s;
                &:hover{
                    transform: scale(1.2);
                }
            }

            
        
        }


        a{
        color: $color4;
        font-family: $font1;
        font-size: 16px;
        text-decoration: none;
        position: relative;

        &:hover{
            transform: scale(1.04);
        }

    

        &::after{
        content:"";
        width: 0;
        height: 2px;
        background-color: $color2;
        position: absolute;
        bottom: -8px;
        right: 50%;
        transition: all 0.4s ease;
        will-change: width;
        
        }
        &:hover::after{
            width: $ancho;
            right: 0;
            

        }

        &:hover{
            color: $color2;
            
        }
        }

        
    }

    .icono{
        margin-right: 40px;
        align-items: $alinear;
        display: none;

        i{
            color: $color4;
            font-size: 20px;
            margin: 20px;

            &:hover{
                color: $color2;
            }
        }
        
    }

    
#btn-menu{
    display: none;

}
.boton-menu{
    display: none;
    font-size: 25px;
    color: $color4;
    margin-right: 10px;
    cursor: pointer;
    

    &:hover{
    color: $color2;
    }
    
}
}


}


@media (max-width:412px) {

    
    header{
        
    
        .encabezado{
            display: flex;
            align-items: center;
    
            .logotipo{
                width: 100px;
                height: 80px;
                }
                .nombre-empresa{
                    font-size: 20px ;
                    font-family: $font3;
                    padding-top: 17px;
                    color: $color4;
                    margin-left: 10px;
                    
                }
        }
    
    
        
        .menu{
            
            position: absolute;
            margin-top: 50px;
            font-size: 30px;
    
            ul{
                
                list-style: none;
                display: flex;
                flex-direction: column;
                background-color: black;
                width: 412px;
                transition: all 0.5s;
                padding-bottom: 15px;

                li{

                    transition: all 0.5s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            
            }
    
    
            a{
            color: $color4;
            font-family: $font1;
            font-size: 16px;
            text-decoration: none;
            position: relative;
    
            &::after{
            content:"";
            width: 0;
            height: 2px;
            background-color: $color2;
            position: absolute;
            bottom: -8px;
            right: 50%;
            transition: all 0.4s ease;
            will-change: width;
            }
            &:hover::after{
                width: $ancho;
                right: 0;
    
            }
    
            &:hover{
                color: $color2;
            }
            }
    
            
        }
    
        .icono{
            margin-right: 40px;
            align-items: $alinear;
            display: none;
    
            i{
                color: $color4;
                font-size: 20px;
                margin: 20px;
    
                &:hover{
                    color: $color2;
                }
            }
            
        }
    
        
    #btn-menu{
        display: none;
    
    }
    .boton-menu{
        display: none;
        font-size: 25px;
        color: $color4;
        margin-right: 10px;
        cursor: pointer;
        
    
        &:hover{
        color: $color2;
        }
        
    }
    }
    
    
    }
    

    @media (max-width:768px) {

        
    header{
        
    
        .encabezado{
            display: flex;
            align-items: center;
    
            .logotipo{
                width: 100px;
                height: 80px;
                margin-left: -60px;
                }
                .nombre-empresa{
                    font-size: 20px ;
                    font-family: $font3;
                    padding-top: 17px;
                    color: $color4;
                    
                }
        }
    
    
        
        .menu{
            align-items: $alinear;
            position: absolute;
            margin-top: 50px;
            font-size: 30px;
    
            ul{
                position: absolute;
                list-style: none;
                display: flex;
                flex-direction: column;
                background-color: black;
                width: 768px;
                transition: all 0.5s;
                padding-bottom: 15px;
                text-align: center;

                li{

                    transition: all 0.5s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            
            }
    
    
            a{
            color: $color4;
            font-family: $font1;
            font-size: 16px;
            text-decoration: none;
            position: relative;
    
            &::after{
            content:"";
            width: 0;
            height: 2px;
            background-color: $color2;
            position: absolute;
            bottom: -8px;
            right: 50%;
            transition: all 0.4s ease;
            will-change: width;
            }
            &:hover::after{
                width: $ancho;
                right: 0;
    
            }
    
            &:hover{
                color: $color2;
            }
            }
    
            
        }
    
        .icono{
            margin-right: 40px;
            align-items: $alinear;
            display: block;
    
            i{
                color: $color4;
                font-size: 15px;
                margin: 15px;
    
                &:hover{
                    color: $color2;
                }
            }
            
        }
    
        
    #btn-menu{
        display: none;
    
    }
    .boton-menu{
        display: none;
        font-size: 25px;
        color: $color4;
        margin-right: 10px;
        cursor: pointer;
        
    
        &:hover{
        color: $color2;
        }
        
    }
    }


    }