@import "../variables";
@import "../sass2/mixins";


.pedidos{
    display: $displey;
    justify-content: $alinear;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    width: $ancho;
    height: 50px;
    box-shadow: 0 1px 10px rgba(6, 6, 6, 0.5);

    .productos{
        color: $color4;
        font-family: $font1;
        font-size: 25px;
        text-align: $alinear;
        margin-top: 3px;
        position: absolute;
        
        
    }
    
}

.contenido1{
    @include contenedor-t;

    .contenedor{
        max-width: 250px;
        margin: 20px;
        margin-top: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        cursor: pointer;
        transition: all 400ms ease;

        &:hover{
            box-shadow: 0 0 1.5em rgba(6, 6, 6, 0.4);
            transform: scale(1.02);
            border-radius: 10px;
        }


        .tajeta{
            width: 250px;
            cursor: pointer;
            transition: all 400ms ease;
        }
        img{
            width: $ancho;
            margin-top: 10px;
            
        }
        .informacion{
            text-align: $alinear;
        }
        h2{
            font-size: 15px;
            font-weight: bold;
            font-family: $font2;
        }
        span{
            font-size: 17px;
            margin-right: 170px;
        
            
        }
        
        }
        .comprar{
            
            @extend .boton;

            span{
                font-size: 15px;
                margin-left: 5px;
            }

            &:hover{
                background-color: $color2;
            }
            
        }

}

.contenido2{
    @include contenedor-t;
    margin-top: -30px;

    .contenedor{
        max-width: 250px;
        margin: 20px;
        margin-top: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        cursor: pointer;
        transition: all 400ms ease;
        
        &:hover{
            box-shadow: 0 0 1.5em rgba(6, 6, 6, 0.4);
            transform: scale(1.02);
            border-radius: 10px;
        }

        .tajeta{
            width: 250px;
            cursor: pointer;
            transition: all 400ms ease;
        }
        img{
            width: $ancho;
            margin-top: 10px;
            
        }
        .informacion{
            text-align: $alinear;
        }
        h2{
            font-size: 15px;
            font-weight: bold;
            font-family: $font2;
        }
        span{
            font-size: 17px;
            margin-right: 170px;
        
            
        }
        
        }
        .comprar{
            
            @extend .boton;

            span{
                font-size: 15px;
                margin-left: 5px;
            }

            &:hover{
                background-color: $color2;
            }
            
        }

    
}

.contenido3{
    @include contenedor-t;
    margin-top: -30px;
    margin-bottom: 100px;

    .contenedor{
        max-width: 250px;
        margin: 20px;
        margin-top: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        cursor: pointer;
        transition: all 400ms ease;

        &:hover{
            box-shadow: 0 0 1.5em rgba(6, 6, 6, 0.4);
            transform: scale(1.02);
            border-radius: 10px;
        }

        .tajeta{
            width: 250px;
            cursor: pointer;
            transition: all 400ms ease;
        }
        img{
            width: $ancho;
            margin-top: 10px;
            
        }
        .informacion{
            text-align: $alinear;
        }
        h2{
            font-size: 15px;
            font-weight: bold;
            font-family: $font2;
        }
        span{
            font-size: 17px;
            margin-right: 170px;
        
            
        }
        
        }
        .comprar{
            
            @extend .boton;

            span{
                font-size: 15px;
                margin-left: 5px;
            }

            &:hover{
                background-color: $color2;
            }
            
        }
    

}
.contenido4{
    @include contenedor-t;
    margin-top: -130px;
    margin-bottom: 50px;

    .contenedor{
        max-width: 250px;
        margin: 20px;
        margin-top: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        cursor: pointer;
        transition: all 400ms ease;

        &:hover{
            box-shadow: 0 0 1.5em rgba(6, 6, 6, 0.4);
            transform: scale(1.02);
            border-radius: 10px;
        }

        .tajeta{
            width: 250px;
            cursor: pointer;
            transition: all 400ms ease;
        }
        img{
            width: $ancho;
            margin-top: 10px;
            
        }
        .informacion{
            text-align: $alinear;
        }
        h2{
            font-size: 15px;
            font-weight: bold;
            font-family: $font2;
        }
        span{
            font-size: 17px;
            margin-right: 170px;
        
            
        }
        
        }
        .comprar{
            
            @extend .boton;

            span{
                font-size: 15px;
                margin-left: 5px;
            }

            &:hover{
                background-color: $color2;
            }
            
        }

    
    
    
}

.off{
    margin-left: 750px;

    button {
        border: 0;
        background:white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em 1em 1em 3em;
        position: relative;
        overflow: hidden;
        font-size: 30px;
        font-family: $font1;
        border-radius: 12px;
       }
       
       button svg {
        position: absolute;
        left: .4em;
        width: 40px;
        height: 40px;
        transform: rotateY(-180deg);
        transition: transform .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
       }
       
       button:hover svg {
        transform: rotateY(-180deg) translateX(-.25em);
       }
       
       button:active {
        transform: scale(0.98);
       }

}



.contenido5{
    @include contenedor-t;
    margin-top: -10px;
    margin-bottom: 50px;
    
    .contenedor{
        max-width: 250px;
        margin: 20px;
        margin-top: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        cursor: pointer;
        transition: all 400ms ease;

        &:hover{
            box-shadow: 0 0 1.5em rgba(6, 6, 6, 0.4);
            transform: scale(1.02);
            border-radius: 10px;
        }

        .tajeta{
            width: 250px;
            cursor: pointer;
            transition: all 400ms ease;
        }

        .descuento{
            
            border-radius: 5px;
            font-weight: bold;
            text-align: center;
            font-size: 14px;
            position: absolute;
        
        }
        img{
            width: $ancho;
            margin-top: 10px;
            
        }
        .informacion{
            text-align: $alinear;
        }
        h2{
            font-size: 15px;
            font-weight: bold;
            font-family: $font2;
        }
        .precio1{
            text-decoration: line-through;
            font-size: 15px;
            color: rgb(96, 95, 95);
            margin-left: -9px;
        
        }
        span{
            font-size: 17px;
            margin-right: 170px;
        
            
        }
        
        }
        
        }

        .comprar-{
            button{
                @extend .boton_;
               }
               button::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 0;
                border-radius: 15px;
                background-color: #212121;
                z-index: -1;
                -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
                box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
                transition: all 250ms
               }
               button:hover {
                color: #e8e8e8;
               }
               
               button:hover::before {
                width: 100%;
               }
        }
    
        .contenido6{
            @include contenedor-t;
            margin-top: -80px;
            margin-bottom: 50px;
        
            .contenedor{
                max-width: 250px;
                margin: 20px;
                margin-top: 50px;
                background-color: rgb(255, 255, 255);
                border-radius: 15px;
                cursor: pointer;
                transition: all 400ms ease;
        
                &:hover{
                    box-shadow: 0 0 1.5em rgba(6, 6, 6, 0.4);
                    transform: scale(1.02);
                    border-radius: 10px;
                }
        
                .tajeta{
                    width: 250px;
                    cursor: pointer;
                    transition: all 400ms ease;
                }
                img{
                    width: $ancho;
                    margin-top: 10px;
                    
                }
                .informacion{
                    text-align: $alinear;
                }
                h2{
                    font-size: 15px;
                    font-weight: bold;
                    font-family: $font2;
                }
                span{
                    font-size: 17px;
                    margin-right: 170px;
                
                    
                }
                
                }
                .comprar{
                    
                    @extend .boton;
        
                    span{
                        font-size: 15px;
                        margin-left: 5px;
                    }
        
                    &:hover{
                        background-color: $color2;
                    }
                    
                }
            
        
        }


        @media (max-width: 375px) {

            .pedidos{
                display: $displey;
                justify-content: $alinear;
                background-color: black;
                padding-top: 10px;
                padding-bottom: 10px;
                width: $ancho;
                height: 35px;
                box-shadow: 0 1px 10px rgba(6, 6, 6, 0.5);
            
                .productos{
                    color: $color4;
                    font-family: $font1;
                    font-size: 17px;
                    text-align: $alinear;
                    margin-top: -3px;
                    position: absolute;
                    
                    
                }
                
            }

            .off{
                margin-left: 50px;
                margin-bottom: 20px;

                button{
                    font-size: 20px;
                    background-color: rgba(255, 255, 255, 0);
                }

                
            }
        
            
            
        }

        @media (max-width: 375px) {

            

            .contenido1{
                display: $displey;
                justify-content: center;
                flex-direction: column;
                position: static;
               margin-left: 94px;
               margin-top: 20px;

               .contenedor{
                max-width: 150px;
                margin-top: 5px;
                
            }

            .tarjeta{
                width: 150px;

                img{
                    width: 150px;
                    height: 150px;
                }

                
            }
            
            }

            .contenido2{
                display: $displey;
                justify-content: center;
                flex-direction: column;
                position: static;
               margin-left: 94px;
               margin-top: 10px;
               margin-bottom: 10px;

               .contenedor{
                max-width: 150px;
                margin-top: 5px;
                
            }

            .tarjeta{
                width: 150px;

                img{
                    width: 150px;
                    height: 150px;
                }
            }
            }
            .contenido3{
                display: $displey;
                justify-content: center;
                flex-direction: column;
                position: static;
               margin-left: 94px;
               margin-bottom: 130px;

               .contenedor{
                max-width: 150px;
                margin-top: 5px;
                
            }

            .tarjeta{
                width: 150px;

                img{
                    width: 150px;
                    height: 150px;
                }
            }
            }
            .contenido4{
                display: $displey;
                justify-content: center;
                flex-direction: column;
                position: static;
               margin-left: 94px;

               .contenedor{
                max-width: 150px;
                margin-top: 5px;
                
            }

            .tarjeta{
                width: 150px;

                img{
                    width: 150px;
                    height: 150px;
                }
            }
            }

            .contenido5{
                display: $displey;
                justify-content: center;
                flex-direction: column;
                position: static;
               margin-left: 94px;

               .contenedor{
                max-width: 150px;
                margin-top: 5px;
                
            }

            .tarjeta{
                width: 150px;

                img{
                    width: 150px;
                    height: 150px;
                }

                .descuento{
                    position: absolute;
                    font-weight: bold;
                    text-align: center;
                    font-size: 10px;
                    width: 50px;
                    
                    
                
                }
                img{
                    width: $ancho;
                    margin-top: 10px;
                    
                }
                .informacion{
                    text-align: $alinear;
                }
                h2{
                    font-size: 15px;
                    font-weight: bold;
                    font-family: $font2;
                }
                .precio1{
                    text-decoration: line-through;
                    font-size: 15px;
                    color: rgb(96, 95, 95);
                    margin-left: 4px;
                
                }
                span{
                    font-size: 17px;
                    margin-right: 170px;
                
                    
                }
                
            }
            }
            
            .contenido6{
                display: $displey;
                justify-content: center;
                flex-direction: column;
                position: static;
                margin-left: 94px;

                .contenedor{
                max-width: 150px;
                margin-top: 5px;
                
            }

            .tarjeta{
                width: 150px;

                img{
                    width: 150px;
                    height: 150px;
                }
            }
            }




        }

        
       


        // @media (max-width: 768px) {

        //     .pedidos{
        //         display: $displey;
        //         justify-content: $alinear;
        //         background-image:linear-gradient(to right, rgb(188, 188, 188),white, white,white,rgb(188, 188, 188));
        //         padding-top: 10px;
        //         padding-bottom: 10px;
        //         width: $ancho;
        //         height: 35px;
        //         box-shadow: 0 1px 10px rgba(6, 6, 6, 0.5);
            
        //         .productos{
        //             color: $color1;
        //             font-family: $font1;
        //             font-size: 18px;
        //             text-align: $alinear;
        //             margin-top: -2px;
        //             position: absolute;
                    
                    
        //         }
                
        //     }

        //     .off{
        //         margin-left: 250px;
        //         margin-bottom: 20px;

        //         button{
        //             font-size: 22px;
        //             background-color: rgba(255, 255, 255, 0);
        //         }

                
        //     }
        
            
            
        // }

        // @media (max-width: 768px) {

            

        //     .contenido1{
        //         display: $displey;
        //         justify-content: center;
        //         flex-direction: row;
        //         position: static;
        //        margin-left: 5px;
               

        //        .contenedor{
        //         max-width: 150px;
        //         margin-top: 20px;
                
        //     }

        //     .tarjeta{
        //         width: 150px;

        //         img{
        //             width: 150px;
        //             height: 150px;
        //         }

                
        //     }
            
        //     }

        //     .contenido2{
        //         display: $displey;
        //         justify-content: center;
        //         flex-direction: row;
        //         position: static;
        //        margin-left: 5px;
              
               

        //        .contenedor{
        //         max-width: 150px;
        //         margin-top: 30px;
                
                
        //     }

        //     .tarjeta{
        //         width: 150px;

        //         img{
        //             width: 150px;
        //             height: 150px;
        //         }
        //     }
        //     }
        //     .contenido3{
        //         display: $displey;
        //         justify-content: center;
        //         flex-direction: row;
        //         position: static;
        //        margin-left: 5px;
        //        margin-bottom: 130px;

        //        .contenedor{
        //         max-width: 150px;
        //         margin-top: 30px;
                
        //     }

        //     .tarjeta{
        //         width: 150px;

        //         img{
        //             width: 150px;
        //             height: 150px;
        //         }
        //     }
        //     }
        //     .contenido4{
        //         display: $displey;
        //         justify-content: center;
        //         flex-direction: row;
        //         position: static;
        //        margin-left: 5px;
               

        //        .contenedor{
        //         max-width: 150px;
        //         margin-top: 5px;
                
        //     }

        //     .tarjeta{
        //         width: 150px;

        //         img{
        //             width: 150px;
        //             height: 150px;
        //         }
        //     }
        //     }

        //     .contenido5{
        //         display: $displey;
        //         justify-content: center;
        //         flex-direction: row;
        //         position: static;
        //        margin-left: 5px;
        //        margin-top: 15px;

        //        .contenedor{
        //         max-width: 150px;
        //         margin-top: 5px;
                
        //     }

        //     .tarjeta{
        //         width: 150px;

        //         img{
        //             width: 150px;
        //             height: 150px;
        //         }

        //         .descuento{
        //             position: absolute;
        //             font-weight: bold;
        //             text-align: center;
        //             font-size: 10px;
        //             width: 50px;
                    
                    
                
        //         }
        //         img{
        //             width: $ancho;
        //             margin-top: 10px;
                    
        //         }
        //         .informacion{
        //             text-align: $alinear;
        //         }
        //         h2{
        //             font-size: 15px;
        //             font-weight: bold;
        //             font-family: $font2;
        //         }
        //         .precio1{
        //             text-decoration: line-through;
        //             font-size: 15px;
        //             color: rgb(96, 95, 95);
        //             margin-left: 4px;
                
        //         }
        //         span{
        //             font-size: 17px;
        //             margin-right: 170px;
                
                    
        //         }
                
        //     }
        //     }
            
        //     .contenido6{
        //         display: $displey;
        //         justify-content: center;
        //         flex-direction: row;
        //         position: static;
        //         margin-left: 5px;
               

        //         .contenedor{
        //         max-width: 150px;
        //         margin-top: 30px;
        //         margin-bottom: -20px;
                
        //     }

        //     .tarjeta{
        //         width: 150px;

        //         img{
        //             width: 150px;
        //             height: 150px;
        //         }
        //     }
        //     }




        // }