@import "../variables";

.navegador{
    background-color: $color1;
    width: $ancho;
    height: $alto;
    display: $displey;
    align-items: $alinear;
    justify-content: space-between;
    position: sticky;
    
    
}

.piedepagina{
    width: 100%;
    background-color: black;
    box-shadow:10px -2px 10px rgba(7, 7, 7, 0.5);
    

}

.boton{
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: $color1;
        border-radius: 10px;
        color: $color4;
        padding: 5px 10px 5px 10px;
        margin-left: 80px;
        margin-right: 80px;
        position: static;
        
}

.boton_{
    padding: 5px 25px;
                border: unset;
                border-radius: 15px;
                color: #212121;
                z-index: 1;
                background: #e8e8e8;
                position: relative;
                font-size: 15px;
                -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
                box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
                transition: all 250ms;
                overflow: hidden;
                margin-top: 15px;
                margin-bottom: 10px;
}