@import "../variables";

.navegador{
    background-color: $color1;
    width: $ancho;
    height: $alto;
    display: $displey;
    align-items: $alinear;
    justify-content: space-between;
    position: sticky;
    
    
}

.piedepagina{
    width: 100%;
    background-color: black;
    box-shadow:10px -2px 10px rgba(7, 7, 7, 0.5);
    

}

.boton{
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: $color1;
        border-radius: 10px;
        color: $color4;
        padding: 5px 10px 5px 10px;
        margin-left: 80px;
        margin-right: 80px;
        position: static;
        
}